button {
  margin-top: 10%;
  margin-bottom: 5%;
}

.qtext {
  margin-top: 15%;
  font-weight: bold;
}

hr {
  margin-bottom: 3%;
}

.card {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
}

#displayTicketPrice {
  font-weight: bold;
}
